header{
	background: #bcbef1;
	text-align: center;
}

summary{
	font-size: 20px;
	background: #bcbef1;
	text-align: center;
}

details{
	text-align: justify;
	font-size: 16px
}

h1{
	font-size: 32px;
}

body{
	background: #dddddd;
}
